#html
/html/*
!/html/.keep
!/html/wp-content/plugins/whatsapp
!/html/wp-content/plugins/whatsapp/whatsapp.php

#mysql
/php-playground/*
!/php-playground/hola.php
!/php-playground/index.html
#.env
.env